* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    font-family: Roboto;
    height:100%;
    overflow: hidden;
}

#parent-container, #styles {
    height: 100%;
}

#styles {
    padding: 0.5em 0.5em 56px 0.5em;
	
	display: flex;
	flex-flow: column;
}

#custom-container {
	display: flex;
	flex-flow: column;
	flex: 1;
}

#bottom {
    height: 56px;
    position: absolute;
    bottom: 0;
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 8px #888;
	background-color: #fff;
}

.style-item {
    display: flex;
    margin: 0.8em 0;
}

.style-item span {
    font-size: 1.3em;
    flex: 1;
}

#heading-number-container {
	font-size: 1.2em;
    display: flex;
	justify-content: space-between;
	
	margin: 0.6em 0;
}

#heading-number-container span {
	vertical-align: middle;
}

h1 {
    font-size: 1.5em;
    padding: 0.2em 1px;
    border-bottom: #bbb 1px solid;
    
    display: flex;
    justify-content: space-between;
}

h1 span {
    color: #888; 
}

.clickable {
    cursor: pointer;
}

.hidden {
	display:none !important;
}
